.primary {
    background: linear-gradient(90deg, #ef671f 60%, #ff9800 100%);
    color: #fff;
    border: none;
    border-radius: 9px;
    padding: 13px 32px;
    font-size: 1.15rem;
    cursor: pointer;
    width: auto;
    box-shadow: 0 2px 8px 0 rgba(239, 103, 31, 0.08);
    transition: background 0.2s, box-shadow 0.2s;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.primary:hover {
    background: linear-gradient(90deg, #ff9800 0%, #ef671f 100%);
    box-shadow: 0 4px 16px 0 rgba(239, 103, 31, 0.13);
}

.primary:disabled {
    background: #ccc; /* Cor de desabilitado */
    cursor: not-allowed;
    box-shadow: none;
}

/* Ícone de carregando */
.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    display: inline-block;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.full-width {
    width: 100%;


}